.modal-container {
    width: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease-in;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .content {
    position: relative;
    font-weight: 500;
    font-size: 12px;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    animation: slideIn 0.3s ease-in;
  }

  h1.p-2{
    font-size: 15px; 
    color: #5A5A5A;
  }

  svg {
    height: 13px;
    fill: darkgreen;
  }
  
  @keyframes